/* SETUP */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* GLOBAL */

* {
	font-family: "AvenirLTStd-Book", "Helvetica", sans-serif;
	font-size: 16px;
	line-height: 1.8rem;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;`
	color: #111;
}

img {
	width: 100%;
}

/* TYPOGRAPHY */

@import url("//hello.myfonts.net/count/30f762");
@import url("//hello.myfonts.net/count/310a3c");
  
@font-face {
	font-family: 'AvenirLTStd-Heavy';
	src: url('../fonts/30F762_0_0.eot');
	src: url('../fonts/30F762_0_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/30F762_0_0.woff2') format('woff2'),
	     url('../fonts/30F762_0_0.woff') format('woff'),
	     url('../fonts/30F762_0_0.ttf') format('truetype');
}
  
@font-face {
	font-family: 'AvenirLTStd-BookOblique';
	src: url('../fonts/30F762_1_0.eot');
	src: url('../fonts/30F762_1_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/30F762_1_0.woff2') format('woff2'),
	     url('../fonts/30F762_1_0.woff') format('woff'),
	     url('../fonts/30F762_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'AvenirLTStd-Book';
	src: url('../fonts/30F762_2_0.eot');
	src: url('../fonts/30F762_2_0.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/30F762_2_0.woff2') format('woff2'),
	     url('webfonts/30F762_2_0.woff') format('woff'),
	     url('../fonts/30F762_2_0.ttf') format('truetype');
}

@font-face {
	font-family: 'AvenirLTStd-HeavyOblique';
	src: url('webfonts/310A3C_0_0.eot');
	src: url('webfonts/310A3C_0_0.eot?#iefix') format('embedded-opentype'),
	     url('webfonts/310A3C_0_0.woff2') format('woff2'),
	     url('webfonts/310A3C_0_0.woff') format('woff'),
	     url('webfonts/310A3C_0_0.ttf') format('truetype');
}

/* BUTTONS / LINKS */

a, a:visited {
	color: #111;
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-bottom: 2px solid #111;
}

a.rev, a.rev:visited {
	color: #fff;
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

a.rev:hover {
	border-bottom: 2px solid #fff;
}

span.cta, span.cta-container {
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	background: none;
	border: none;
	padding: 0;
	margin-right: 20px;
	margin-bottom: 20px;
}

span.cta-container a {
	border: 2px solid #111;
	padding: 2px 10px 2px 10px;
}

span.cta-container a:hover {
	color: #fff;
	background: #111;
}

span.cta-container-fill a {
	color: #fff;
	background: #111;
	border: 2px solid transparent;
}

span.cta-container-fill a:hover {
	color: #111;
	background: transparent;
	border: 2px solid #111;
}

span.cta-container-rev a {
	color: #111;
	background: #fff;
	border: 2px solid transparent;
}

span.cta-container-rev a:hover {
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
}

/* BRAND */

div.brand {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 50px;
	z-index: 10;
}

div.brand a {
	border: none;
	padding-bottom: 15px;
}

div.brand a:hover {
	border: none;
	opacity: 0.5;
	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

div.brand span.logo {
	width: 100%;
	height: 100%;
}

div.brand div.hashtags {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

div.brand div.hashtags p {
	font-size: 0.75rem;
	line-height: 0.25rem;
	color: #111;
}

/* NAV */

div.page-title {
	position: absolute;
	top: 45px;
	right: 20%;
	font-size: 0.75rem;
	line-height: 0;
	z-index: 10;
}

div.menu-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 50px;
	z-index: 10;
	display: flex;
	align-items: center;
}

div.menu-btn:hover {
	cursor: pointer;
}

div.menu-btn span.menu-icon {
    position:relative;
    display:inline-block;
    width: 50px;
}

div.menu-btn span.menu-icon:hover {
	height: 35px;
}
 
div.menu-btn span.menu-bar {
    height: 30px;
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
}
 
div.menu-btn span.menu-bar:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 2px solid #111;
}

div.top-bg {
	position: fixed;
	z-index: 5;
	width: 100%; 
	display: none;
}

/* HEADER */

header {
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
}

header div.header-text {
	margin: 0 auto;
	width: 60%;
	padding: 180px 0;
}

header div.header-text h1 {
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 4.5rem;
	line-height: 5rem;
}

header div.header-text h1 span.ital {
	font-family: "AvenirLTStd-HeavyOblique", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 4.5rem;
	line-height: 5rem;
}

ul.chapters {
	list-style: none;
	padding: 0;
	margin: 40px 0 30px 0;
}

ul.chapters li {
	display: inline;
	padding-right: 30px;
}

header div.hero {
	width: 80%;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

header div.hero img {
	flex-shrink: 0;
	min-width: 880px;
	max-height: 100%;
}

header div.scroll-down {
	position: absolute;
	right: 20px;
	bottom: 20px;
	width: 52px;
}

header div.scroll-down img {
	width: 100%;
	height: 100%;
}

header div.scroll-down a {
	border: none;
}

header div.scroll-down a:hover{
	border: none;
	transform: translateY(5%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

/* MODULES */

section.creators, section.brands {
	width: 100%;
	height: 100%;
	margin-bottom: 10%;
	position: relative;
}

div.flex-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	max-height: 640px;
}

div.flex-img {
    flex: 1 0 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

div.flex-img img {
	display: flex;
	flex-shrink: 0;
	min-width: 880px;
	height: 100%;
	max-height: 720px;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    mix-blend-mode: screen;
}

div.flex-img img:hover, div.flex-img img:focus {
	-webkit-filter: none;
	filter: none;
	mix-blend-mode: normal;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

div.flex-img-creators {
    background: #b8b3a8;
}

div.flex-img-brands {
    background: #a4b4a8;
}

div.flex-text {
	flex: 1 0 30%;
	padding: 40px;
}

div.flex-text p.subtitle {
	font-family: "AvenirLTStd-BookOblique", "Helvetica", sans-serif;
	font-size: 0.75rem;
}

div.flex-text h1.headline {
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	padding: 20% 0 10% 0;
}

/* MODULE - FREE FOR CREATORS */

div.flex-wrapper-right {
	padding-left: 100px;
	right: 0;
}

div.flex-text-creators {
	background: #f1eee9;
}

/* MODULE - FOR BRANDS */


div.flex-wrapper-left {
	padding-right: 100px;
	left: 0;
}

div.flex-text-brands {
	background: #e2ece5;
}

/* FOOTER */

div.to-top {
	position: relative;
	width: 54px;
	height: 27px;
	display: flex;
	float: right;
	flex-direction: row-reverse;
	margin: 0 20px 40px 0;
}

div.to-top img {
	width: 100%;
	height: 100%;
}

div.to-top a {
	border: none;
}

div.to-top a:hover {
	border: none;
	transform: translateY(-25%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

footer {
	width: 100%;
	min-height: 400px;
	background: #d3d3d3;
	clear: both;
}

div.footer-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

div.footer-map {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 30%;
	background: url('../img/footer/footer-map.png') no-repeat center;
	background-size: cover;
	max-height: 100%;
	min-height: 400px;
}

div.footer-map img {
	height: 50px;
}

div.footer-map a {
	border: none;
}

div.footer-map a:hover{
	border: none;
	transform: translateY(10%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

div.footer-content {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex: 1 0 70%;
	padding: 60px;
}

div.footer-row {
	width: 100%;
	height: 30%;
}

p.footer-title {
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	line-height: 1.5rem;
}

p.footer-subtitle {
	font-family: "AvenirLTStd-BookOblique", "Helvetica", sans-serif;
	color: #999;
	line-height: 1.5rem;
}

div.footer-col {
	height: 80px;
	flex: 1 0 280px;
}

div.footer-col span {
	font-family: "AvenirLTStd-Book", "Helvetica", sans-serif;
	line-height: 1.75rem;
	display: block;
}

div.footer-col span a, div.footer-col span a:visited {
	font-family: "AvenirLTStd-Book", "Helvetica", sans-serif;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	display: inline;
}

div.footer-col span a:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid #111;
}

div.footer-social {
	width: 40%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.footer-social a {
	border: none;
}

div.footer-social a:hover {
	border: none;
	transform: translateY(-10%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

div.footer-social img.social {
	max-width: 30px;
	max-height: 30px;
}

/* RESPONSIVE */

@media screen and (max-width: 1024px) {
	/* HEADER */

	header div.hero {
		width: 100%;
		padding-right: 100px;
	}

	/* MODULES */

	div.flex-wrapper-right {
		padding-left: 90px;
		max-height: 540px;
	}

	div.flex-wrapper-left {
		padding-right: 90px;
		max-height: 540px;
	}

	div.flex-img {
	    flex: 1 0 60%;
	}

	div.flex-text {
		flex: 1 0 40%;
		padding: 30px;
	}

	div.flex-text h1.headline {
		padding: 15% 0 10% 0;
	}
}

@media screen and (max-width: 800px) {
	/* HEADER */

	header div.header-text {
		width: 100%;
		padding: 20% 30px 20% 120px;
	}

	header div.hero {
		width: 100%;
		padding-right: 0;
		max-height: 600px;
	}

	header div.scroll-down {
		bottom: 20px;
	}

	/* MODULES */

	div.flex-img {
	    flex: 1 0 50%;
	}

	div.flex-img img {
		min-width: 720px;
	}

	div.flex-text {
		flex: 1 0 50%;
	}

	/* FOOTER */

	div.footer-social {
		width: 70%;
	}

}

@media screen and (max-width: 640px) {
	/* HEADER */

	header div.header-text {
		width: 100%;
		padding: 26.5% 30px 35% 120px;
	}

	header div.header-text h1 {
		font-size: 2.75rem;
		line-height: 3.25rem;
	}

	header div.header-text h1 span.ital {
		font-size: 2.75rem;
		line-height: 3.25rem;
	}

	ul.chapters li {
		display: inline;
		padding-right: 80px;
	}

	header div.scroll-down {
		display: none;
	}

	/* MODULES */

	div.flex-wrapper {
		max-height: 1280px;
	}

	div.flex-img {
		order: 1;
	}

	div.flex-text {
		order: 2;
	}

	div.flex-wrapper-left {
		padding-right: 0;
		padding-left: 90px;
	}

	div.flex-img {
	    flex: 1 0 100%;
	    max-height: 360px;
	}

	div.flex-img img {
		min-width: 480px;
	}

	div.flex-text {
		flex: 1 0 100%;
		padding: 30px;
	}

	div.flex-text h1.headline {
		padding: 5% 0 0 0;
	}

	/* FOOTER */

	div.footer-map {
		flex: 1 0 40%;
	}

	div.footer-content {
		flex: 1 0 60%;
		padding: 30px;
	}

	div.footer-col {
		flex: 1 0 200px;
	}

	div.footer-social {
		width: 100%;
	}
}

@media screen and (max-width: 480px) {
	/* BRAND */

	div.brand {
		position: fixed;
		width: 120px;
		height: 40px;
		top: 15px;
	}

	div.brand span.logo {
		float: left;
		margin-right: 10px;
		width: 40px;
	}

	div.brand img {
		width: 100%;
	}

	div.brand div.hashtags {
		display: none;
	}

	/* NAV */

	div.menu-btn {
		position: fixed;
		top: 15px;
		right: 15px;
		height: 40px;
	}

	div.menu-btn span.menu-icon {
	    width: 40px;
	}

	div.page-title {
		top: 35px;
		right: 25%;		
	}

	div.top-bg {
		display: block;
		background: #fff;
		height: 70px;
	}

	/* HEADER */

	header, section.creators, section.brands {
		margin-bottom: 20%;
	}

	header div.header-text {
		width: 100%;
		padding: 40% 30px 30% 30px;
	}

	header div.hero img {
		min-width: 600px;
	}

	/* MODULES */

	div.flex-wrapper-right {
		padding-left: 0;
	}

	div.flex-wrapper-left {
		padding-left: 0;
	}

	div.flex-img {
	    flex: 1 0 100%;
	    max-height: 280px;
	}

	div.flex-text {
		flex: 1 0 40%;
		padding: 30px;
	}

	/* FOOTER */

	footer {
		min-height: 640px;
	}
	
	div.to-top {
		width: 40px;
		height: auto;
		margin: 0 15px 40px 0;
	}

	div.footer-map {
		flex: 1 0 100%;
		min-height: 140px;
	}

	div.footer-content {
		flex: 1 0 100%;
	}
}