/* HEADER */

header.creators {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	background: linear-gradient(to top, #f1eee9 0%, #f1eee9 30%, #fff 30%, #fff 100%);
}

header.brands {
	width: 100%;
	height: 100%;
	margin-bottom: 0;
	background: linear-gradient(to top, #e2ece5 0%, #e2ece5 30%, #fff 30%, #fff 100%);
}

header div.header-text-sub {
	width: 60%;
	padding: 180px 0 5% 0;
}

header div.header-text-sub p {
	padding-right: 200px;
}

header div.hero-sub {
	width: 85%;
	margin: 0 auto;
}

header div.hero-sub img {
	max-height: 100%;
}

p.join-us-btn {
	margin-top: 40px;
}

/* MODULE - GLOBAL */

div.flex-text p.subtitle {
	height: 100%;
}

ul.progress {
	width: 200px;
	height: 30px;
	list-style-type: none;
	padding: 0;
	margin: 8px 0 0 0;
}

ul.progress li {
	width: 20%;
	height: 2px;
	display: inline-block;
	margin-right: -4.5px;
	background: rgba(1, 1, 1, 0.1);
}

ul.progress li.selected {
	background: #111;
}

div.flex-text h1.headline-sub {
	font-family: "AvenirLTStd-Heavy", "Helvetica", sans-serif;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2.2rem;
	padding: 0;
}

div.flex-text p {
	padding-bottom: 0;
}

div.flex-img {
    flex: 1 0 50%;
}

div.flex-img-1,
div.flex-img-2,
div.flex-img-3,
div.flex-img-4,
div.flex-img-5 {
	background: #b8b3a8;
}

div.flex-img-6,
div.flex-img-7,
div.flex-img-8,
div.flex-img-9,
div.flex-img-10 {
	background: #a4b4a8;
}

div.scroll-next {
	display: flex;
	height: 20px;
	width: 100%;
}

div.scroll-next a {
	border: none;
}

div.scroll-next a:hover{
	border: none;
	transform: translateY(20%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

/* MAIN */

section.main-sub {
	width: 100%;
	height: 100%;
	padding-top: 5%;
}

section.main-sub-creators {
	background: #f1eee9;
}

section.main-sub-brands {
	background: #e2ece5;
}

section.join-us {
	background: #fff;
	height: 100%;
	margin-bottom: 7.5%;
}

div.flex-img {
	height: 700px;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

div.flex-img img {
	flex-shrink: 0;
	min-height: 700px;
	margin: auto;
}

div.main-sub-wrapper {
	height: 700px;
	min-height: 700px;
	max-height: 100%;
}


/* SECTION 1 */

div.flex-sub-wrapper-1 {
	margin: 0 auto;
	width: 85%;
}

div.flex-text-sub-1 {
	background: #fff;
	flex: 1 0 50%;
	padding: 40px 60px;
	min-height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 1;
}

div.flex-img-1 {
	flex: 1 0 50%;
	display: flex;
	order: 2;
}

div.flex-text-sub-1 span {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 100%;
}

div.flex-text-sub-1 span a img {
	max-width: 45px;
	max-height: 45px;
}

div.flex-text-sub-1 span a {
	border: none;
}

div.flex-text-sub-1 span a:hover {
	border: none;
	transform: translateY(-10%);
	-webkit-transition: transform .25s ease-in-out;
	-moz-transition: transform .25s ease-in-out;
	transition: transform .25s ease-in-out;
}

/* SECTION 2 */

div.flex-sub-wrapper-2 {
	margin: 0;
	width: 92.5%;
}

div.flex-text-sub-2 {
	background: #dedad4;
	flex: 1 0 45.98%;
	padding: 40px 60px;
	min-height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 2;
}

div.flex-img-2 {
	flex: 1 0 54.02%;
	display: flex;
	order: 1;
}

/* SECTION 3 */

div.flex-sub-wrapper-3 {
	margin-left: 7.4%;
	width: 92.5%;
}

div.flex-text-sub-3 {
	background: #fff;
	flex: 1 0 46.02%;
	padding: 40px 60px;
	min-height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 1;
}

div.flex-img-3 {
	flex: 1 0 53.98%;
	display: flex;
	order: 2;
}

/* SECTION 4 */

div.flex-sub-wrapper-4 {
	margin: 0;
	width: 92.5%;
}

div.flex-text-sub-4 {
	background: #dedad4;
	flex: 1 0 45.98%;
	padding: 40px 60px;
	min-height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 2;
}

div.flex-img-4 {
	flex: 1 0 54.02%;
	display: flex;
	order: 1;
}

/* SECTION 5 */

div.flex-sub-wrapper-5 {
	margin: 0 auto;
	width: 85%;
}

div.flex-text-sub-5 {
	background: #111;
	flex: 1 0 50%;
	padding: 40px 60px;
	min-height: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	order: 1;
}

div.flex-img-5 {
	flex: 1 0 50%;
	display: flex;
	order: 2;
}

ul.progress-reverse {
	width: 200px;
	height: 30px;
	list-style-type: none;
	padding: 0;
	margin: 8px 0 0 0;
}

ul.progress-reverse li {
	display: inline-block;
	background: rgba(255, 255, 255, 0.2);
	margin-
}

ul.progress-reverse li.selected {
	background: #fff;
}

div.flex-text-sub-5 h1.headline-sub {
	color: #fff;
}

div.flex-text-sub-5 p {
	padding-bottom: 0;
	color: #fff;
}

/* REMAINING MODULES */

div.flex-text-sub-7,
div.flex-text-sub-9 {
	background: #d6e2d9;
}

/* RESPONSIVE */

@media screen and (max-width: 1080px) {
	/* MODULES */

	ul.progress {
		width: 80px;
		height: 30px;
	}

	ul.progress li {
		width: 20%;
	}

	ul.progress-reverse {
		width: 80px;
		height: 30px;
	}

	ul.progress-reverse li {
		width: 20%;
	}
}

@media screen and (max-width: 1024px) {
	/* HEADER */
	
	header div.header-text-sub p {
		padding-right: 0;
	}

	/* MODULES */

	div.main-sub-wrapper {
		max-height: 600px;
		min-height: 600px;
	}

	div.main-sub-wrapper-4 {
		margin-bottom: 0;
	}

	div.flex-sub-wrapper-1 {
		margin: 0 auto;
		width: 100%;
	}

	div.flex-text-sub-1,
	div.flex-text-sub-2,
	div.flex-text-sub-3,
	div.flex-text-sub-4,
	div.flex-text-sub-5 {
		min-height: 600px;
	}

	div.flex-img {
		height: 600px;
	}

	div.flex-img img {
		min-height: 600px;
		margin: auto;
	}


	div.flex-text-sub-1,
	div.flex-text-sub-3,
	div.flex-text-sub-5 {
		padding: 40px 40px 0 80px;
	}

	div.flex-text-sub-2,
	div.flex-text-sub-4 {
		padding: 40px 30px 0 40px;
	}

	div.flex-sub-wrapper-2 {
		margin: 0;
		width: 100%;
	}

	div.flex-text-sub-2 {
		flex: 1 0 50%;
	}

	div.flex-img-2 {
		flex: 1 0 50%;
	}

	div.flex-sub-wrapper-3 {
		margin: 0;
		width: 100%;
	}

	div.flex-text-sub-3 {
		flex: 1 0 50%;
	}

	div.flex-img-3 {
		flex: 1 0 50%;
	}

	div.flex-sub-wrapper-4 {
		margin: 0;
		width: 100%;
	}

	div.flex-text-sub-4 {
		flex: 1 0 50%;
	}

	div.flex-img-4 {
		flex: 1 0 50%;
	}

	div.flex-sub-wrapper-5 {
		margin: 0 auto;
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	/* HEADER */

	header div.header-text-sub {
		width: 100%;
		padding: 20% 30px 30% 120px;
	}

	header div.hero-sub {
		width: 100%;
		padding-right: 0;
		max-height: 600px;
	}

	/* MODULES */

	div.main-sub-wrapper {
		height: 100%;
		min-height: 600px;
	}

	div.flex-sub-wrapper {
		max-height: 2400px;
	}

	div.flex-text-sub-1 span {
		width: 100%;
	}

	div.flex-text-sub-1 span a img {
		max-width: 35px;
		max-height: 35px;
	}
}

@media screen and (max-width: 640px) {
	/* HEADER */

	header div.header-text-sub {
		width: 100%;
		padding: 26.5% 30px 10% 120px;
	}

	/* MODULES */

	div.main-sub-wrapper {
		margin: 0 auto;
		margin-left: 20px;
		margin-right: 20px;
		min-height: 800px;
	}

	section.main-sub {
		padding-top: 40px;
	}

	div.flex-img {
		flex: 1 0 100%;
		max-height: 320px;
	}

	div.flex-img img {
		min-height: 320px;
		min-width: 600px;
		margin: auto;
	}

	div.flex-text-sub-1,
	div.flex-text-sub-2,
	div.flex-text-sub-3,
	div.flex-text-sub-4,
	div.flex-text-sub-5 {
		flex: 1 0 100%;
		padding: 60px;
		min-height: 500px;
		max-height: 100%;
	}

	div.flex-text-sub-1,
	div.flex-text-sub-2,
	div.flex-text-sub-3,
	div.flex-text-sub-4 {
		background: #fff;
	}

	div.flex-text-sub-1,
	div.flex-text-sub-3,
	div.flex-text-sub-5 {
		order: 2;
	}

	div.flex-img-1,
	div.flex-img-3,
	div.flex-img-5 {
		order: 1;
	}

	div.flex-text h1.headline-sub {
		width: 100%;
	}

	div.flex-text-sub-1 span {
		width: 80%;
	}

	div.flex-text-sub-1 span a img {
		max-width: 40px;
		max-height: 40px;
	}
}

@media screen and (max-width: 480px) {
	/* HEADER */

	header div.header-text-sub {
		width: 100%;
		padding: 20% 30px 5% 30px;
	}

	/* MODULES */

	div.main-sub-wrapper {
		margin: 0 auto;
		margin-left: 0;
		margin-right: 0;
		min-height: 820px;
	}

	section.join-us {
		margin-bottom: 20%;
	}

	div.flex-text-sub-1,
	div.flex-text-sub-2,
	div.flex-text-sub-3,
	div.flex-text-sub-4,
	div.flex-text-sub-5 {
		padding: 30px;
	}
}

@media screen and (max-width: 300px) {
	/* MODULES */

	div.main-sub-wrapper {
		min-height: 840px;
	}
}